html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}
body {
    background-image:url("https://media.istockphoto.com/id/1326304939/vector/studio-room-in-dark-blue-background-with-copy-space-luxury-gallery-empty-room-abstract.jpg?s=612x612&w=0&k=20&c=wZhCPp213vDnmc66LNJ3Kb4qKZHr_xiKCvYmfpQgyHI=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
	  width: 100%;
    height: 100%;
      }

h1 {
 font-family: 'Tangerine', serif;
 text-shadow: 3px 3px 3px #aaa;
 color: white;
}
.container{
  margin: auto;
  border: double;
  padding: 5px;
  border-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height: 59px;
}

div.container {
  width:500px;
  height:400px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body{
  margin:0;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #1c1c1c;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
  transform: scale(1.15);	
	transition: transform .2s;
}

.toplinks {
  font-size: 15px;
  font-family: cursive;
  color: black; 
  padding: 7.5px;
  border-style: solid;
  border-color: #ffe5f8; 
  border-width: 1px;
  text-align: center;
}
h3, h2 {
  color: white;
}